.section_header {
    transition: all 0.3s ease-in-out;
}
.section_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
}
.header_background {
    box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
    background-color: #fff;
    color: black;
}
.header_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    height: 4.5rem;
    padding: 1.25rem 2rem;
    margin: 0 auto;
}
.header_navigation-menus {
    float: right;
}
.header_title {
    display: inline-block;
    font-family: AppleSDGothicNeoH00;
    font-size: 1.5rem;
    color: hsla(0, 0%, 100%, 0.7);
    line-height: 2rem;
    cursor: pointer;
}
.header_hamburger-wrapper {
    float: right;
    box-sizing: border-box;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem 0;
    margin-top: -0.5rem;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.header_background .header_navigation-menu {
    color: black;
}
.header_navigation-menu {
    display: inline-block;
    padding: 0 1rem;
    font-family: AppleSDGothicNeoH00;
    font-size: 1.2rem;
    color: hsla(0, 0%, 100%, 0.7);
    line-height: 2rem;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.5s;
}
.header_navigation-menu:hover {
    opacity: 1;
}
.header_background .header_title {
    color: black;
}

.header_navigation-menu,
.header_title {
    color: #fff;
}

/* sidebar css */

.modal_overlay {
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 53;
    background: rgba(0, 0, 0, 0.4);
    overscroll-behavior: none;
}
.dialog {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 100%;
    max-height: 100%;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    right: 0px;
}
.modal_overlay.v-enter,
.modal_overlay.v-leave-to {
    opacity: 0;
}
.modal_overlay.v-enter-active {
    transition: all 0.4s;
}
.modal_overlay.v-leave-active {
    transition: all 0.3s;
}
.modal_overlay.v-enter .dialog,
.modal_overlay.v-leave-to .dialog {
    transform: translate3d(100%, 0, 0);
}
.modal_overlay.v-enter-active .dialog {
    transition: transform 0.3s;
}
.modal_overlay.v-leave-active .dialog {
    transition: transform 0.5s;
}
.side-panel-wrapper .side-panel-close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 35px;
    right: 10px;
}
.side-panel-wrapper .gnb-side {
    width: 100%;
    padding: 70px 0 16px;
    box-sizing: border-box;
}
.side-panel-wrapper .gnb-side .mobile-side-menu {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    border-bottom-color: #cccccc;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, #78ace4, #6f41b6);
    border-image-slice: 1;
}
.gnb-side .mobile-side-message {
    width: 100%;
    padding: 0 30px 24px;
    box-sizing: border-box;
    color: #333;
    font-size: 20px;
    line-height: 1;
    font-family: AppleSDGothicNeoEB00;
}
.header_navigation-mobile-menu {
    display: flex;
    padding: 0 1rem;
    font-family: AppleSDGothicNeoM00;
    font-size: 1.2rem;
    color: black;
    line-height: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
