/* header css */
.section_header {
    transition: all 0.3s ease-in-out;
}
.section_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
}
.header_background {
    box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
    background-color: #fff;
    color: black;
}
.header_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    height: 4.5rem;
    padding: 1.25rem 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header_navigation-menus {
    float: right;
}
.header_title {
    display: inline-block;
    font-family: AppleSDGothicNeoH00;
    font-size: 1.5rem;
    color: hsla(0, 0%, 100%, 0.7);
    line-height: 2rem;
    cursor: pointer;
}
.header_hamburger-wrapper {
    float: right;
    box-sizing: border-box;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem 0;
    margin-top: -0.5rem;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.header_background .header_navigation-menu {
    color: black;
}
.header_navigation-menu {
    display: inline-block;
    padding: 0 1rem;
    font-family: AppleSDGothicNeoH00;
    font-size: 1.2rem;
    color: hsla(0, 0%, 100%, 0.7);
    line-height: 2rem;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.5s;
}
.header_navigation-menu:hover {
    opacity: 1;
}
.header_background .header_title {
    color: black;
}

.header_navigation-menu,
.header_title {
    color: #fff;
}
@media all and (max-width: 767px) {
    .header_content {
        height: 4rem;
    }
    .header_hamburger-wrapper {
        padding: 0.3rem 0;
    }
}
