.career_companies {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.career_company {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.career_logo-container {
    padding-right: 3rem;
}
.career_logo-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 18rem;
    height: 15rem;
}
.career_logo {
    display: block;
    flex-shrink: 0;
    width: 100%;
}
.career_info {
    padding-left: 3rem;
    font-family: AppleSDGothicNeoR00;
}
.career_title {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}
.career_period {
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
.career_description {
    padding-bottom: 1rem;
    border-style: solid;
    border-image: linear-gradient(90deg, #78ace4, #6f41b6);
    border-image-slice: 1;
    border-image-width: 0 0 2px 0;
}
.career_works {
    padding-left: 1rem;
    margin: 1rem 0;
    list-style: none;
}
.career_works-title {
    margin: 2rem 0 1rem -1rem;
    font-size: 1rem;
}
.career_works-period {
    margin: 0 0 1rem -1rem;
    font-size: 0.9rem;
}
.career_works-item {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}
ul.career_works li:before {
    content: "-";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
}

@media all and (max-width: 767px) {
    .career_companies {
        margin-bottom: 4rem;
    }
    .career_company {
        flex-direction: column;
    }
    .career_logo-container {
        padding-right: 0;
    }
    .career_logo-wrapper {
        width: 16rem;
        margin: 0 auto;
    }
    .career_info {
        padding-left: 0;
        padding: 0 1rem 0 1rem;
    }
    .career_title {
        font-size: 1.3rem;
    }
    .career_period {
        font-size: 1rem;
    }
    .career_description {
        font-size: 0.9rem;
    }
    .career_works-item {
        font-size: 0.9rem;
    }
}
