/* project css*/

.section_project {
    background: linear-gradient(#1d3e61, #a2cfff);
}
.project_content {
    box-sizing: border-box;

    width: 100%;
    max-width: 71.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.project_section_title_wrap {
    position: relative;
    margin: 0 auto 3rem;
}
.project_section_title_wrap .section_title {
    color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: AppleSDGothicNeoEB00;
    font-size: 3rem;
    line-height: 1.5;
}
