/* project css*/
.section_project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.project_section_title_wrap {
    box-sizing: initial;
    display: flex;
    justify-content: center;
    padding: 2rem 0 8rem 0;
    width: 100%;
    height: max-content;
    text-align: center;
    color: #fff;
}
@media all and (max-width: 767px) {
    .project_section_title_wrap {
        padding: 2rem 0 3rem 0;
    }
    .project_section_title_wrap .section_title {
        font-size: 2rem;
    }
    .project_content {
        padding: 4rem 2rem 2rem 2rem;
    }
}
