/* img-swiper css */
@keyframes slideTextShow {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-80%);
    }
    50% {
        opacity: 1;
        transform: translateX(-50%) translateY(-60%);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }
}
@keyframes slideImgShow {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
.swiper_wrapper {
    width: 100%;
}
.swiper_content {
    display: block;
    width: 100%;
    min-width: 100%;
    cursor: pointer;
}
.swiper_img {
    display: block;
    width: 97%;
    margin: 0 auto;
    opacity: 0.2;
    box-shadow: 0 25px 25px -10px rgb(0 0 0 / 13%);
    border-radius: 5px;
}
.card-text {
    width: calc(100% - 40px);
    display: block;
    position: absolute;
    z-index: 8;
    top: 50%;
    left: 50%;
    opacity: 0;
    font-family: AppleSDGothicNeoSB00;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}
.card-text-animation {
    animation: slideTextShow 3s 1;
}
.swiper-pagination-bullet {
    background: #fff;
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active {
    background: #6f41b6;
}
.swiper-slide-active .swiper_img {
    margin-top: 10px;
    animation: slideImgShow 4s 1;
}
.swiper-slide-active .swiper_img {
    opacity: 1;
}
.swiper-button-prev,
.swiper-button-next {
    color: #8762bf;
}

@media all and (max-width: 767px) {
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
}
