/* about me css*/
.section_myinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    color: #fff;
}
.myinfo_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.myinfo_section_title_wrap {
    box-sizing: initial;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    height: max-content;
    text-align: center;
}
.myinfo_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}
.myinfo_introduce {
    margin-bottom: 5%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-flow: row;
    width: 70%;
    height: 100%;
}
.myinfo_img-wrapper {
    margin-right: 2rem;
}
.myinfo_img {
    width: 300px;
    border-radius: 9px;
    border: 3px solid #cccccc;
}
.myinfo_introduce-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
}
.myinfo_introduce_title {
    margin-bottom: 5.5%;
    font-size: 1.6em;
    font-family: AppleSDGothicNeoEB00;
}
.myinfo_introduce_text {
    margin-bottom: 5.5%;
    font-size: 1.2em;
    font-family: AppleSDGothicNeoR00;
}

.myinfo_profile-infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 5rem;
}
.myinfo_profile-infos .myinfo_profile-info-wrapper:first-child,
.myinfo_profile-infos .myinfo_profile-info-wrapper:nth-child(2),
.myinfo_profile-infos .myinfo_profile-info-wrapper:nth-child(3) {
    margin-bottom: 2rem;
}
.myinfo_profile-info-wrapper {
    width: 33.3333%;
}
.myinfo_profile-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    max-width: 14rem;
    margin-right: 2rem;
}
.myinfo_profile-img-wrapper {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}
.aboutMe_field {
    margin-right: 2rem;
}
.aboutMe_field .aboutMe_field-label {
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-family: AppleSDGothicNeoM00;
}
.aboutMe_field .aboutMe_field-value {
    font-size: 14px;
    font-family: AppleSDGothicNeoR00;
    white-space: nowrap;
}

@media all and (max-width: 767px) {
    .myinfo_profile-infos {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .myinfo_profile-info {
        justify-content: flex-start;
        margin: 0 auto;
    }
    .myinfo_profile-infos .myinfo_profile-info-wrapper:first-child,
    .myinfo_profile-infos .myinfo_profile-info-wrapper:nth-child(2),
    .myinfo_profile-infos .myinfo_profile-info-wrapper:nth-child(3) {
        margin-bottom: 1.5rem;
    }
    .myinfo_profile-info-wrapper {
        width: 100%;
    }
    .aboutMe_field .aboutMe_field-label {
        font-size: 1rem;
    }
    .aboutMe_field .aboutMe_field-value {
        font-size: 1rem;
    }
    .myinfo_container {
        margin-bottom: 0;
    }
    .myinfo_content {
        padding: 4rem 2rem 3rem 2rem;
    }
    .myinfo_introduce {
        flex-flow: column;
    }
    .myinfo_img-wrapper {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .myinfo_img {
        width: 200px;
    }
    .myinfo_introduce_title {
        font-size: 1.4em;
    }
    .myinfo_introduce_text {
        font-size: 1em;
        margin-bottom: 0;
    }
}
