.section_career {
    color: #fff;
}
.career_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 8rem 2rem;
    margin: 0 auto;
}
.career_section_title_wrap {
    box-sizing: initial;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    width: 100%;
    height: max-content;
    text-align: center;
}
.career_section_title_wrap .section_title {
    border-bottom-width: 9px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, #78ace4, #6f41b6);
    border-image-slice: 1;
    font-family: AppleSDGothicNeoEB00;
    font-size: 3rem;
    line-height: 1.5;
}
@media all and (max-width: 767px) {
    .career_section_title_wrap .section_title {
        font-size: 2rem;
    }
    .career_content {
        padding: 2rem 2rem;
    }
    .career_company {
        flex-direction: column;
    }
    .career_logo-container {
        padding-right: 0;
    }
    .career_logo-wrapper {
        width: 100%;
    }
    .career_info {
        padding-left: 0;
    }
}
