@keyframes status-graph-80 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 80%;
        color: white;
    }
}
@keyframes status-graph-75 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 75%;
        color: white;
    }
}
@keyframes status-graph-70 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 70%;
        color: white;
    }
}
@keyframes status-graph-65 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 65%;
        color: white;
    }
}
@keyframes status-graph-60 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 60%;
        color: white;
    }
}
@keyframes status-graph-50 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 50%;
        color: white;
    }
}
@keyframes status-graph-20 {
    0% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
    100% {
        width: 20%;
        color: white;
    }
}

@keyframes status-graph-80-out {
    0% {
        width: 80%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
@keyframes status-graph-75-out {
    0% {
        width: 75%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
@keyframes status-graph-70-out {
    0% {
        width: 70%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
@keyframes status-graph-65-out {
    0% {
        width: 65%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
@keyframes status-graph-60-out {
    0% {
        width: 60%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
@keyframes status-graph-50-out {
    0% {
        width: 50%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
@keyframes status-graph-20-out {
    0% {
        width: 20%;
        color: white;
    }
    100% {
        width: 0;
        color: rgb(255, 255, 255, 0);
    }
}
.section_skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    color: #fff;
    font-family: AppleSDGothicNeoEB00;
}
.section_skill * {
    box-sizing: border-box;
}
.skill_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.skill_section_title_wrap {
    box-sizing: initial;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    height: max-content;
    text-align: center;
}
.skill_container {
    justify-content: center;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.status_title {
    text-align: center;
    font-family: AppleSDGothicNeoEB00;
    font-size: 21px;
    margin-bottom: 1rem;
}
.status_content {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}
.status_bar-title {
    font-family: AppleSDGothicNeoEB00;
    margin-right: 20px;
    font-size: 15px;
    width: 9%;
}
.status_bar-item {
    height: 20px;
    background-color: #222222;
    flex: 1;
}
.status_bar-percent {
    display: block;
    height: 20px;
    line-height: 22.5px;
    font-size: 12px;
    background: linear-gradient(90deg, #78ace4, #6f41b6);
    text-align: right;
    border-radius: 5px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 0%;
    color: white;
}
.percent_opacity_zero {
    opacity: 0;
}
.percent_animation-80 {
    width: 80%;
    opacity: 1;
    animation: status-graph-80 1;
}
.percent_animation-75 {
    width: 75%;
    opacity: 1;
    animation: status-graph-75 1;
}
.percent_animation-70 {
    width: 70%;
    opacity: 1;
    animation: status-graph-70 1;
}
.percent_animation-65 {
    width: 65%;
    opacity: 1;
    animation: status-graph-65 1;
}
.percent_animation-60 {
    width: 60%;
    opacity: 1;
    animation: status-graph-60 1;
}
.percent_animation-50 {
    width: 50%;
    opacity: 1;
    animation: status-graph-50 1;
}
.percent_animation-20 {
    width: 20%;
    opacity: 1;
    animation: status-graph-20 1;
}
.percent_animation-80-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-80-out 1;
}
.percent_animation-75-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-75-out 1;
}
.percent_animation-70-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-70-out 1;
}
.percent_animation-65-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-65-out 1;
}
.percent_animation-60-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-60-out 1;
}
.percent_animation-50-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-50-out 1;
}
.percent_animation-20-out {
    color: rgb(255, 255, 255, 0);
    animation: status-graph-20-out 1;
}

@media all and (max-width: 767px) {
    .skill_section_title_wrap .section_title {
        font-size: 2rem;
    }
    .skill_container {
        width: 80%;
    }
    .status_title {
        font-size: 1rem;
    }
    .status_bar-title {
        font-size: 0.3rem;
    }
    .status_bar-percent {
        font-size: 0.7rem;
    }
}
