@font-face {
    src: url("./assets/fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB00";
}
@font-face {
    src: url("./assets/fonts/AppleSDGothicNeoEB.ttf");
    font-family: "AppleSDGothicNeoEB00";
}
@font-face {
    src: url("./assets/fonts/AppleSDGothicNeoH.ttf");
    font-family: "AppleSDGothicNeoH00";
}
@font-face {
    src: url("./assets/fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM00";
}
@font-face {
    src: url("./assets/fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR00";
}
@font-face {
    src: url("./assets/fonts/AppleSDGothicNeoSB.ttf");
    font-family: "AppleSDGothicNeoSB00";
}
/* text animation */
@keyframes textShow {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes textShowOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100px);
    }
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app {
    background: #181818;
}
.stagger-item {
    animation: textShow 1s;
    opacity: 1;
}
.stagger-item-out {
    animation: textShowOut 1s;
    opacity: 0;
}
.info_opacity_zero {
    opacity: 0;
}
.section_title {
    box-sizing: border-box;
    border-style: solid;
    border-image: linear-gradient(90deg, #78ace4, #6f41b6);
    border-image-slice: 1;
    font-family: AppleSDGothicNeoEB00;
    font-size: 3rem;
    line-height: 1.5;
}
.border_bottom {
    border-image-width: 0 0 7px 0;
}
.text_focus {
    color: #b49dd8;
}
.highlight {
    color: #78ace4;
}
@media all and (max-width: 767px) {
    .section_title {
        font-size: 1.8rem;
    }
}
