@keyframes bannerLeftShow {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes bannerRightShow {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes bounce-fade {
    0% {
        margin-bottom: 10px;
    }
    50% {
        margin-bottom: 20px;
    }
    100% {
        margin-bottom: 10px;
    }
}
@keyframes circleAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 0.5;
        transform: scale(1);
    }
}
@keyframes pillAnimationTop {
    from {
        opacity: 0;
        transform: rotate(45deg) translate(-50%, -50%);
    }
    to {
        opacity: 0.5;
        transform: rotate(45deg) translate(0, 0);
    }
}
@keyframes pillAnimationBottom {
    from {
        opacity: 0;
        transform: rotate(45deg) translate(50%, 50%);
    }
    to {
        opacity: 0.5;
        transform: rotate(45deg) translate(0, 0);
    }
}
.section_banner {
    position: relative;
    overflow: hidden;
}

.banner_content {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.section_banner .banner_title {
    font-family: AppleSDGothicNeoEB00;
    font-weight: 400;
    font-size: 4rem;
    color: #ffff;
    padding: 0 2rem 0 2rem;
    word-break: keep-all;
    margin-bottom: 8%;
}
.banner_animaiton-left {
    animation: bannerLeftShow 1.5s;
    opacity: 1;
    color: transparent;
    -webkit-text-stroke: 0.7px white;
}
.banner_animaiton-right {
    animation: bannerRightShow 1.5s;
    opacity: 1;
}
.banner_more-button {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: 200%;
    background: url("../../assets/images/banner/arrow-down.png") no-repeat;
    animation: bounce-fade 1.2s infinite;
}
.bannerDesign_wrapper {
    position: relative;
    height: 246px;
}
.circle {
    width: 300px;
    height: 300px;
    opacity: 0.5;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    animation: circleAnimation;
}
.circle_1 {
    bottom: -200px;
    left: 248px;
}
.circle_2 {
    width: 230px;
    height: 230px;
    bottom: -256px;
    left: 100px;
    background-color: transparent;
    border: 5px solid white;
}
.circle_3 {
    width: 290px;
    height: 290px;
    bottom: 200px;
    left: -1271px;
}
.circle_4 {
    width: 40px;
    height: 40px;
    bottom: 254px;
    left: -627px;
}
.circle_5 {
    width: 20px;
    height: 20px;
    bottom: 240px;
    left: -586px;
    background-color: transparent;
    border: 3px solid white;
}
.circle_6 {
    width: 120px;
    height: 120px;
    bottom: 372px;
    left: -985px;
}
.pill {
    opacity: 0.5;
    background-color: white;
    transform: rotate(45deg);
    border-radius: 139px;
    position: absolute;
}
.pill_1 {
    width: 161px;
    height: 592px;
    bottom: -543px;
    left: -1088px;
    animation: pillAnimationBottom;
}
.pill_2 {
    width: 110px;
    height: 454px;
    bottom: -314px;
    left: -1018px;
    animation: pillAnimationBottom;
}
.pill_3 {
    width: 204px;
    height: 454px;
    bottom: 192px;
    left: 273px;
    animation: pillAnimationTop;
}
.pill_4 {
    width: 122px;
    height: 256px;
    bottom: 114px;
    left: 276px;
    animation: pillAnimationTop;
}
.pill_5 {
    width: 43px;
    height: 83px;
    bottom: -200px;
    left: -298px;
    animation: pillAnimationBottom;
}
.pill_6 {
    width: 67px;
    height: 125px;
    bottom: -299px;
    left: -298px;
    animation: pillAnimationBottom;
}
@media all and (max-width: 767px) {
    .section_banner .banner_title {
        font-size: 2.2rem;
    }
    .banner_more-button {
        bottom: 25%;
    }
}
